.handd{
  width: 100%;
  height: 2.6rem;
  background-color: slategray;
}
.handd .cyx{
  width: 100px;
  height: auto;
  margin-top: 18px;
  margin-left: 32px;
}
.handd .ringht{
  padding-top: 25px;
  margin-left: 25px;
}
.handd .ringht p{
  padding-bottom: 30px;
}